.about {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start; 
    justify-content: space-around;
    position: relative; 
    top: 60px;
    color: #1B1B1B;

}

.about_image {
    position: relative; 
    bottom: 10px;
}
.about_image img {
    width: 700px;
    height: 500px;
    border-radius: 50%; 
    object-fit: cover; 
}

.about_tag {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

.about_tag h1 {
    font-size: 50px;
    margin-bottom: 20px;
  

}

.about_tag p {
    line-height: 22px;
    width: 400px;
    text-align: justify;
    margin-bottom: 15px;
    margin-right: 20px; 
    margin-left: 20px; 
}

.about_tag .about_btn {
    padding: 10px 20px;
    background-color: #089da1;


    text-decoration: none;
    position: absolute;
    bottom: 90px;
    left: 80%;    
    transform: translateX(-50%); 
}
