.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 40px;
    


}

.main .book_body h1 {
    font-family: 'Lucida Sans';
    position: relative;
    font-size: 40px;
    top: 10px;
    bottom: 10px;
    left: 25px;
    color: #1B1B1B;

    
}

.main .book_body h2 {
    position: relative;
    left: 45px;
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Lucida Handwriting', cursive;
    color: rgb(161, 140, 204);

}

.main .book_body p {
    position: relative;
    font-size: 15px;    
    width: 550px;
    line-height: 22px;
    left: 25px;
    top: 12px;
    color: 1B1B1B;

}

.main .image .image {
    width: 700px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

.main .book_btn {
    background-color: aqua;
    padding: 10px 20px;
    color: rgb(230, 221, 221);

    text-decoration: none;
    position: absolute;
    bottom: 70px; 
    left: 30%;
    transform: translateX(-50%);
}





.about {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start; 
    justify-content: space-around;
    position: relative; 
    top: 60px;
    color: #1B1B1B;

}

.about_image {
    position: relative; 
    bottom: 10px;
}
.about_image img {
    width: 700px;
    height: 500px;
    border-radius: 50%; 
    object-fit: cover; 
}

.about_tag {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

.about_tag h1 {
    font-size: 50px;
    margin-bottom: 20px;
  

}

.about_tag p {
    line-height: 22px;
    width: 400px;
    text-align: justify;
    margin-bottom: 15px;
    margin-right: 20px; 
    margin-left: 20px; 
}

.about_tag .about_btn {
    padding: 10px 20px;
    background-color: #089da1;


    text-decoration: none;
    position: absolute;
    bottom: 90px;
    left: 80%;    
    transform: translateX(-50%); 
}
