.about{
    width: 100%;
    height: auto;
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about-image img{
    width: 800px;
}
.about .about_tag h1{
    font-size: 50px;
    position: relative;
    bottom: 35px;

}
.about .about_tag p{
    line-height: 22px;
    width:650px;
    text-align: justify;
    margin-bottom: 15px;
}
.about .about_tag .about_btn{
    padding:  10px 20px;
    background-color: #089da1;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 50px;
}