/* style.css */

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 40px;
    margin: 20px;
    


}

.main .book_body h1 {
    font-family: 'Lucida Sans';
    flex-direction: row;
    position: relative;
    font-size: 45px;
    top: 10px;
    bottom: 10px;
    left: 25px;
    color: #1B1B1B;

    
}

.main .book_body h2 {
    padding-top: 20px;
    font-size: 25px;
    padding-left: 50px;
    font-family: 'Lucida Handwriting', cursive;
    color: rgb(161, 140, 204);

}

.main .book_body p {
    width: 650px;
    text-align: center;
    line-height: 22px;
    position: relative;
    left: 150px;
    top: 12px;
    color: 1B1B1B;

}

.main .image .image {
    width: 600px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

.main .book_btn {
    background-color: aqua;
    padding: 10px 20px;
    color: rgb(230, 221, 221);

    text-decoration: none;
    position: absolute;
    bottom: 70px; 
    left: 30%;
    transform: translateX(-50%);
}

.book_about {
    margin-top: 250px; 
}

.book_reviews {
    margin-top: 100px; 
    margin-bottom: 200px;
    background-color: #262627; 


    
}
