
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: large;
   
}

section {
    width: 100%;
    background-color: #E4E4DE;
}

section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #595f39;
    
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #E4E4DE;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 0 10px;
}

section nav ul {
    list-style: none;
}

section nav li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

section nav li a {
    text-decoration: none;
    color: #1B1B1B;
    font-size: larger;
}


