.latest_reviews_home {
    text-align: center;
    padding-top: 30px;

}

.latest_reviews_home h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(161, 140, 204);

}

.latest_reviews_home nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

.latest_reviews_home nav ul li {
    margin-right: 10px;
}

.latest_reviews_home nav ul li:last-child {
    margin-right: 0;
}

.latest_reviews_home nav ul li button {
    padding: 8px 16px;
    background-color: transparent;
    color: rgb(230, 221, 221);
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}




.review_cards_container_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #E4E4DE;}

.latest_reviews_home .card {
    width: calc(25% - 10px);
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .latest_reviews_home .card {
        width: calc(33.33% - 10px);
    }
}

@media screen and (max-width: 900px) {
    .latest_reviews_home .card {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 600px) {
    .latest_reviews_home .card {
        width: 100%;
    }
}
