/* App.css */

.background-pattern {
  position: relative;
  background-color: #262627; 
}

.pattern {
  position: absolute;
  width: 0;
  height: 0;
}

.pattern-top {
  top: 100px;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background-color: rgba(71, 69, 89, 0.8); 
  width: 300px; 
  height: 500px; 
}

.pattern-bottom {
  bottom: 0;
  right: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: rgba(71, 69, 89, 0.8); 
  width: 300px; 
  height: 500px; 
}
